@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=Space+Grotesk:wght@400;500;600&family=Sora:wght@500;600;700&display=swap");

body {
  background-color: #fff;
  padding: 50px;
  font: 15px/1.6 "Space Grotesk", sans-serif;
  color: #595959;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Sora", sans-serif;
}

code, pre, email {
  font-family: "IBM Plex Mono", monospace;
}
